* {
			padding:0;
			border:0;
			margin:0;
		}


		/* NAVBAR START */


.navbar {
    overflow: hidden;
    background-color: #37474f;
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}

.sticky {
	position:fixed;
	width:100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #fff;
    color: #000;
  	z-index:1;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logoimg {
	width:20px;
	height:20px;
}

#overlay:hover{
	background-color:#37474f;
}

#navbar-func {
	float:right;
}

#loginimg {
	width:20px;
	height:20px;
}

/* NAVBAR END */

		.bigcont {
			display: table;
			background-image: url("badmintonracketnet.png");
			height: 100%;
			width:100%;
			
			background-size: cover;
			background-color: #cccccc;
			padding: 50px 0 50px;

			  /* parallax */
    		background-attachment: fixed;
    		background-position: center;
    		background-repeat: no-repeat;
   		 	background-size: cover;
			}

		.bigcont2 {
			display: table;
			background-image: url("badmintongrass.png");
			height: 100%;
			width:100%;
			
			background-size: cover;
			background-color: #cccccc;
			padding: 50px 0 50px;

			  /* parallax */
    		background-attachment: fixed;
    		background-position: center;
    		background-repeat: no-repeat;
   		 	background-size: cover;
			}

		#bigconttext {
			display:table-cell;
			vertical-align:middle;
			text-align:center;
		}

		#bigconttext h1{
			font-size:50px;
		display:inline-block;
			color: white;
			font-family:'IBM Plex Mono', Monospace;
			text-shadow: 2px 2px 10px #000000;
		}

		#bigconttext p {
			font-size:30px;
			font-family:'IBM Plex Mono', Monospace;
			color: white;
		display:inline-block;
			text-shadow: 2px 2px 5px #000000;
		}

		.breaker {
			background-color:#000000;
			size:30px;
			padding: 100px 80px;
		}

		#breakertext {
			text-align: center;
		}

		#breakertext p {
			font-size: 60px;
			font-family:'Roboto', sans-serif;
			color:white;
		}


		#login {
			width:25px;
			padding-top:13px;
		}

		.btnsignup {
			padding: 10px;
			font-size: 20px;
			border-radius:4px;
			background-color:#d9534f;
			text-align: center;
			border: 1px solid transparent;

		}

		.btnsignup a {
			text-decoration: none;
			color: #fff;
		}

		.btnsignup:hover {
			background-color:#c9302c;
		}






		/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  	padding-top:17%;
}

	.squarefloat {
			background-color:#fff;
			width:400px;
			height:300px;
			margin: auto;
			text-align:center;
			align-items:middle;
			border-radius: 10px;
			font-size:200%;
		}

		.squarefloat h1 {
		
			border-top-left-radius:10px;
			border-top-right-radius: 10px;
			color:#fff;
			font-family:'Roboto', sans-serif;
			font-size:150%;
		}

		.formitem {
			margin:auto;
			font-family:'IBM Plex Mono', Monospace;
			padding-top:10px;
			padding-bottom:20px;
		}

		#btnlogin {
			border-radius:5px;
			font-size:20px;
			background-color:#496069;
			padding:10px;
			text-align:center;
			border: 1px solid transparent;

		}

		#btnlogin a {
			text-decoration: none;
			color: #fff;
		}

		#btnlogin:hover {
			background-color: #253220;
		}

/* Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}



#loginlogo {
	width:100px;
	height:100px;
}



#usernametxt, #passwordtxt {
		width:350px;
		height:35px;
		border-radius:5px;
		font-size:120%;
		color:#686868;
		border:1px solid #bdbdbd;
		margin-bottom:10px;
		padding-left:10px;
}


